{{ define "main" }}
<section class="container mx-auto">
    <div class="grid grid-cols-4 gap-4">
        <div class="col-span-4 lg:col-span-3">
            {{ range .Pages }}
            <div>
                <div class="rounded-md shadow-lg bg-gray-300 h-full relative">

                    <!-- heading -->
                    <div class="px-4">
                        <div class="font-bold text-xl py-2">
                            <a class="gradient-underline" href="{{ .Permalink }}">{{ .Title }}</a>
                        </div>
                        <p class="text-sm text-gray-600 flex items-center">
                            {{ dateFormat "Monday, Jan 2, 2006" .Date }}
                        </p>
                        <hr />

                    </div>

                    <div class="px-4 pt-4 pb-8 mb-3 rounded-b-md bg-gray-100">
                        <p class="text-gray-700 text-base">
                            {{ .Summary }}
                        </p>
                    </div>

                    <!-- tags -->
                    <div class="mb-2 absolute bottom-0 right-0">
                        {{- range .Params.tags -}}
                        {{- $url := print "/tags/" (. | urlize) "/" -}}
                        <span
                            class="inline-block bg-gray-200 px-3 py-1 mr-2 text-sm text-blue-500 mr-2 hover:text-black">
                            <a class="tag" href="{{- $url | relLangURL -}}">{{ . }}</a>
                        </span>
                        {{- end -}}
                    </div>

                </div>
            </div>
            {{ end }}
        </div>

        <div class="col-span-4 lg:col-span-1 inline-block">

            {{ if .Site.Taxonomies.tags }}
            <div class="panel mb-3 ">
                <p class="font-bold text-xl rounded-t-md bg-gray-300 py-2 px-3 mb-0">Tags</p>
                <div class="panel-block bg-gray-100 border p-2 rounded-b-md">
                    {{- range $termName, $entries := .Site.Taxonomies.tags }}
                    <span class="inline-flex py-2 leading-4 mr-2 mb-2
                        content-center bg-gray-200 justify-center h-8 px-3
                        text-sm text-blue-500 hover:text-black">
                        <a href="{{ "/tags/" | relLangURL }}{{ $termName | urlize }}">{{ $termName }}</a>
                    </span>
                    {{- end }}
                </div>
            </div>
            {{ end }}

        </div>

    </div>




</section>
{{ end }}
