/**
 * Apply Tailwind Styles to Generated HTML
 */


body {
    @apply text-gray-800;
}

article > div > h1 {
    @apply mb-2 font-bold text-grayish;
}

article > div > h2 {
    @apply mb-2 font-bold text-grayish;
}

article > div > p, ul, ol {
    @apply text-lg tracking-wide;
}

article > div > div, p, ul, ol, pre:not(:last-child) {
    @apply mb-6;
}

article > div > ol, ul {
    @apply list-disc ml-8;
}

article > div > li:not(:last-of-type) {
    @apply mb-2;
}

article > div > p > code {
    @apply p-1 bg-gray-400;
}

/* article > div > h2 { */
/*     @apply text-2xl my-8 font-bold text-black; */
/* } */

article > div > p > a {
    @apply border-b border-black text-black;
}

article > div, p, ul, ol, pre:not(:last-child) {
    @apply mb-2;
}

article > li:not(:last-of-type) {
    @apply mb-2;
}

article p > code {
    @apply bg-white;
}

/* article > h2 { */
/*     @apply text-2xl my-4 font-bold text-grayish; */
/* } */

/**
 * Custom Styling
 */

.gradient-highlight {
  color: theme('colors.black');
  background-image: linear-gradient(120deg, theme('colors.blue.400') 0%, theme('colors.blue.200') 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 100%;
  padding: 0.15rem;
  transition: background-size 0.25s ease-in;
}

.gradient-underline {
  background-image: linear-gradient(120deg, theme('colors.blue.400') 0%, theme('colors.blue.200') 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: 100% 10%;
  background-position: 0 100%;
  padding: 0.15rem;
  transition: background-size 500ms ease-in;
}

/* optional class for animating the gradient when hovered */
.gradient-hover:hover {
  color: theme('colors.black');
  background-size: 100% 100%;
  transition: color 500ms linear;
}
