{{ define "main" }}

<!-- Hero -->
<section class="container mx-auto">
    <div class="mx-16 md:mx-32 lg:mx-64 xl:mx-72">
        <h1 class="text-4xl font-bold leading-tight text-teal-300">About Me</h1>
        <div class="font-medium tracking-wide text-xl text-teal-400">
            I am a <span class="gradient-highlight">data engineer and web developer</span> working at the <a
                class="gradient-underline" target="_blank" rel="noopener noreferrer"
                href="https://mccourt.georgetown.edu/research/the-massive-data-institute/">Massive Data Institute</a> in
            <a class="gradient-underline" target="_blank" rel="noopener noreferrer"
                href="https://www.georgetown.edu/">Georgetown University's</a>
            McCourt School of Public Policy, with a primary focus on building
            data warehousing and processing solutions for social
            scientists and researchers to leverage large-scale organic data.
        </div>
    </div>
</section>

<!-- wave divider -->
<div class="relative -my-px">
    <img src="images/wave.svg" />
</div>

<!-- Air Quality -->
<section class="text-white bg-blackish py-16">
    <div class="container mx-auto">
        <div class="mx-16 md:mx-32 lg:mx-64 xl:mx-72">
            <div class="flex flex-wrap items-center">
                <div class="w-1/2 pr-10">
                    <img src="images/macbook.svg" />
                </div>
                <div class="w-1/2">
                    <h3 class="text-3xl font-bold leading-none mb-3">Previously</h3>
                    <p class="mb-8 text-lg">
                        I worked as a technical consultant for financial
                        institutions and government agencies in the Washington,
                        D.C. area, providing identity and access management, and
                        big data solutions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Air Quality -->
<section class="text-white py-16">
    <div class="container mx-auto">
        <div class="mx-16 md:mx-32 lg:mx-64 xl:mx-72">
            <div class="flex flex-wrap items-center">
                <div class="w-1/2 pr-10">
                    <h3 class="text-3xl font-bold leading-none mb-3">Air Quality</h3>
                    <p class="mb-8 text-lg">
                        I am a founding member and technical adviser to <a class="gradient-underline" target="_blank"
                            rel="noopener noreferrer" href="https://guaq.org">Globally Unified Air Quality</a>, a
                        startup aiming to provide low-cost solutions for measuring and
                        analysing air-quality conditions around the world.
                    </p>
                </div>
                <div class="w-1/2">
                    <img src="images/science.svg" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Interests -->
<section class="bg-blackish text-white -my-px">
    <div class="container mx-auto">
        <div class="mx-16 md:mx-32 lg:mx-64 xl:mx-72">
            <div class="flex flex-wrap items-center">
                <div class="w-1/2 pr-10">
                    <img src="images/rocket.svg" />
                </div>
                <div class="w-1/2">
                    <h3 class="text-3xl font-bold">Tech-Interests</h3>
                    <ul class="list-disc list-inside text-lg">
                        <li>Large Scale Parallel Computing</li>
                        <li>Programming Languages</li>
                        <li>Web Development</li>
                        <li>IoT &amp; Embedded Systems</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<article class="text-center text-gray-700 bg-orange-100">
    {{ .Content }}
</article>
{{ end }}
